../build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt
/.junie/memory/
/.codex
/.aiassistant/
/.ai/
/common/build/
/fabric/build/
/neoforge/build/
/forge/build/
/.junie/AGENTS.md
/.cursor/skills/mixin-writing/references/at-reference.md
/CLAUDE.md
/CONFIG_GUIDE.md
/build/tmp/jar/MANIFEST.MF
/build/tmp/sourcesJar/MANIFEST.MF
/.cursor/rules/minecraft-mod-project.mdc
/build/reports/problems/problems-report.html
/.claude
/.claude/
/.cursor/
