../build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt
/common/build/
/fabric/build/
/neoforge/build/
/forge/build/
/CONFIG_GUIDE.md
/build/tmp/jar/MANIFEST.MF
/build/tmp/sourcesJar/MANIFEST.MF
/build/reports/problems/problems-report.html
